* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    text-align: center;
    background-image: url("./img/fondo.jpg")
}

section > article{
    margin: 10px;
    padding: 5px;
    border-style: dotted;
    background-color: antiquewhite;
    
    
}
h2 {
    text-align: center;

}
h3{
    font-style: italic;
    text-align: center;
}
p {
    text-align:left;
    padding-left: 50px;
    padding-right: 50px;
    margin: left 100px;
}

.imagenArticle {
    text-align: center;
}

#mono, #planta {
    column-count: 2;
    column-gap: 0px; 
}
